Условие 1: 1 задача
* Скачать файл в уроке
* Считать данные с помощью pandas
* Вывести на экран первые 5 строк
* Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd
df = pd.read_csv('kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [3]:
print(df.columns.tolist())

['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']

In [5]:
df.shape

(21613, 21)

* id - Уникальный ID для каждого дома
* date - Дата продажи дома
* price - Стоимость продажи дома
* bedrooms - Кол-во спален
* bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
* sqft_living - Кв. метры жилые
* sqft_lot - Кв. метры общие
* floors - Кол-во этажей
* waterfront - Есть набержная или нет
* view - Значение от 0 до 4 насколько хороший вид
* condition - Значение от 1 до 5 насколько хорошее состояние
* grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество * * конструкции и дизайна
* sqft_above - Кв. метры дома, которые находятся выше земли
* sqft_basement - Кв. метры дома, которые находятся ниже земли
* yr_built - Год постройки дома
* yr_renovated - Год ремонта дома
* zipcode - Индекс
* lat - Широта
* long - Долгота
* sqft_living15 - Кв. метры жилой площади у 15 соседей
* sqft_lot15 - Кв. метры общей площади у 15 соседей

Проведите первичный анализ данных
* Изучите типы данных
* Найдите количество пропущенных ячеек в данных
* Посчитайте основные статистики по всем признакам и поизучайте их
* Пишите выводы

In [6]:
print(df['price'].min(), df['price'].max())

75000.0 7700000.0

In [7]:
df.sort_values('price').iloc[0]

id                    3421079032
date             20150217T000000
price                    75000.0
bedrooms                       1
bathrooms                    0.0
sqft_living                  670
sqft_lot                   43377
floors                       1.0
waterfront                     0
view                           0
condition                      3
grade                          3
sqft_above                   670
sqft_basement                  0
yr_built                    1966
yr_renovated                   0
zipcode                    98022
lat                      47.2638
long                    -121.906
sqft_living15               1160
sqft_lot15                 42882
Name: 1149, dtype: object

In [8]:
df.sort_values('price', ascending=False).iloc[0]

id                    6762700020
date             20141013T000000
price                  7700000.0
bedrooms                       6
bathrooms                    8.0
sqft_living                12050
sqft_lot                   27600
floors                       2.5
waterfront                     0
view                           3
condition                      4
grade                         13
sqft_above                  8570
sqft_basement               3480
yr_built                    1910
yr_renovated                1987
zipcode                    98102
lat                      47.6298
long                    -122.323
sqft_living15               3940
sqft_lot15                  8800
Name: 7252, dtype: object

In [11]:
df['floors'].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

Самый дорогой дом имеет 6 ванных комнат и 8 спален. В самом дешевом нет ванной комнаты, похоже просто душ. Дома представлены от 1 до 3,5 этажей.

Условие 3: 3 задача
Ответьте на несколько вопросов
* 3.1 В каком диапазоне изменяются стоимости недвижимости?
* 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
* 3.3 Как много домов с разными этажами в данных?
* 3.4 Насколько хорошие состояния у домов в данных?
* 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [12]:
print(df['price'].min(), df['price'].max())

75000.0 7700000.0

In [15]:
print(f'{df['sqft_living'].sum()/df['sqft_lot'].sum()*100:.2f} %')

13.77 %

In [19]:
df['floors'].value_counts()

floors
1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: count, dtype: int64

In [22]:
print(df['condition'].mean())
print(df['condition'].median())

3.4094295100171195
3.0

In [25]:
print(df['yr_built'].min())
print(df['yr_built'].max())

1900
2015

* 4.1 Сколько в среднем стоят дома, у которых 2 спальни?
* 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
* 4.3 Как много домов коснулся ремонт?
* 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [33]:
df['bedrooms'].unique()

array([ 3,  2,  4,  5,  1,  6,  7,  0,  8,  9, 11, 10, 33])

In [46]:
print(f"{df[df['bedrooms'] == 2]['price'].mean():.2f} средняя цена домов с 2 спальнями")

401372.68 средняя цена домов с 2 спальнями

In [48]:
print(f"{df[df['price']>600000]['sqft_lot'].mean():.2f}  в среднем общая площадь домов, у которых стоимость больше 600 000")

20442.52  в среднем общая площадь домов, у которых стоимость больше 600 000

In [57]:
print(f"{df.shape[0]-df[df['yr_renovated']==0].shape[0]} домов коснулся ремонт")

914 домов коснулся ремонт

In [59]:
print(f"{df[df['grade']>10]['price'].mean()- df[df['grade']<4]['price'].mean():.2f} в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4")

1488885.12 в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4

* 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?
* 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?
* 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [70]:
df[(df['waterfront'] == 1) & (df['bedrooms']>2) & (df['sqft_basement']!=0)].shape[0] #5.1

84

In [68]:
client = df[((df['waterfront'] == 1)|(df['view'] == 4)) & (df['condition'] == 5) & (df['yr_built']>1980)]
print(f"от {client['price'].min()} до {client['price'].max()}") #5.2

от 1295000.0 до 3000000.0

In [69]:
client = df[(df['sqft_basement']==0) & (df['floors'] == 2) & (df['price'] <150000)]
client['condition'].mean()

np.float64(2.8333333333333335)